{% extends "public.html" %}
  {% block main %}
          <div class="container">
           <div class="col-md-9">

    {% for article in article_list %}
      <div id="home-post article-{{ article.pk }}">
        <h4>
          <a href="{{ article.get_absolute_url }}">
              <strong>{{ article.title }}</strong>
          </a>
              <small>{{ article.create_at }}</small>
        </h4>
        <div id="home-post-text">
           {{ article.content }}
        </div>
        <p><a href="{{ article.get_absolute_url }}">阅读全文</a></p>
      </div>
      {% empty %}
      <div class="no-post">
          暂时没有发布文章
      </div>
    {% endfor %}


    <!-- Pagination links -->
    <div class="pagination pull-right">
      <li><a href="/">首页</a></li>

        <li class="disabled"><a><i class="fa fa-angle-double-left"></i> 上一页</a></li>

      <li><a>1 of 16</a></li>

      <li class="next"><a  href="/page2/">下一页 <i class="fa fa-angle-double-right"></i></a></li>
      <li><a  href="/page16/">尾页</a></li>

    </div>
</div>
<div class="col-md-3 visible-lg visible-md">




<section>
  <h3>分类</h3>
  <ul>

    <li><a href="/categories.html#python">python</a>  (12)</li>


    <li><a href="/categories.html#scala">java</a>  (7)</li>


    <li><a href="/categories.html#search-engine">laravel</a>  (9)</li>


    <li><a href="/categories.html#spark">php</a>  (13)</li>


    <li><a href="/categories.html#web">mysql</a>  (14)</li>


    <li><a href="/categories.html#work">ruby</a>  (7)</li>

  </ul>
</section>

  <section>
  <h3>最新文章</h3>
  <ul>

    <li><a href="/2016/04/21/mybatis-sqlSession-source-code.html" title="这是第一篇测试文章">这是第一篇测试文章</a></li>

    <li><a href="/2016/04/21/how-to-parse-mybatis-configuration.html" title="这是第二篇测试文章">这是第二篇测试文章</a></li>

  </ul>
</section>


<section>
  <h3>标签</h3>
  <ul class="ds-recent-comments" data-num-items="8" data-show-avatars="0" data-show-time="0" data-show-title="0" data-show-admin="0" data-excerpt-length="12"></ul>
</section>



<section>
<h4>Blogroll</h3>
<ul>

  <li><a href="http://blog.javachen.com/" title="JavaChen Blog">Python</a></li>

  <li><a href="/sitemap.xml" title="JavaChen Sitemap">PHP</a></li>

  <li><a href="http://blog.jassassin.com/" title="Eagle's Blog">Java</a></li>

</ul>
</section>

</div>
<div class="clearfix"></div>
          </div>
          <a href="#" class="btn back-to-top btn-dark btn-fixed-bottom hidden-print"><i class="fa fa-chevron-up"></i></a>
{% endblock %}
