{% extends "public.html" %}
{% load blog_tags %}
  {% block main %}
          <div class="container">
           <div class="col-md-9">

    {% for article in article_list %}
      <div id="home-post article-{{ article.pk }}">
        <h4>
          <a href="{{ article.get_absolute_url }}">
              <strong style="color:#003300;font-size:18px;">{{ article.title }}</strong>
          </a>
              <small>{{ article.create_at }} || {{ article.reading }}阅读</small>
        </h4>
        <div id="home-post-text" style="margin-top:16px">
           <p>{{ article.abstract | safe}} ... ... </p>
        </div>
        <p><a href="{{ article.get_absolute_url }}" style="color:#336699">阅读全文</a></p>
        <br>
      </div>
      {% empty %}
      <div class="no-post">
          暂时没有发布文章
      </div>
    {% endfor %}


    <!-- Pagination links -->
    <div class="pagination pull-right">
      <li><a href="/">首页</a></li>

        <li class="disabled"><a><i class="fa fa-angle-double-left"></i> 上一页</a></li>

      <li><a>1 of 16</a></li>

      <li class="next"><a  href="/page2/">下一页 <i class="fa fa-angle-double-right"></i></a></li>
      <li><a  href="/page16/">尾页</a></li>

    </div>
</div>
<div class="col-md-3 visible-lg visible-md">

<section>
  <h3>最新文章</h3>
  {% get_recent_articles as recent_article_list %}
  <ul>
    {% for article in recent_article_list %}
    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>

    {% empty %}
    暂无文章
    {% endfor %}
  </ul>
</section>

<section>
  <h3>分类</h3>
  {% get_categories as category_list %}
  <ul>
    {% for category in category_list %}
        <li><a href="{% url 'blog:category' category.pk %}">{{ category.name }}</a>(12)</li>
        {% empty %}
        暂无分类
    {% endfor %}
  </ul>
</section>

<section>
  <h3>归档</h3>
  {% archive as date_list %}
  <ul>
    {% for date in date_list %}
      <li>
        <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }}年{{ date.month }}</a>
      </li>
      {% empty %}
      暂无归档
    {% endfor %}
  </ul>
</section>

<section>
  <h3>标签</h3>
  <ul class="ds-recent-comments" data-num-items="8" data-show-avatars="0" data-show-time="0" data-show-title="0" data-show-admin="0" data-excerpt-length="12"></ul>
</section>

<section>
<ul>

  <li><a href="#" title="JavaChen Blog">Python</a></li>

  <li><a href="#" title="JavaChen Sitemap">PHP</a></li>

  <li><a href="#" title="Eagle's Blog">Java</a></li>

</ul>
</section>

</div>
<div class="clearfix"></div>
          </div>
          <a href="#" class="btn back-to-top btn-dark btn-fixed-bottom hidden-print"><i class="fa fa-chevron-up"></i></a>
{% endblock %}
